<!DOCTYPE html>
<html>
<head>

  <title>CineMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="top-nav">
  <div class="navbar-fixed">
    <nav id="main-navbar">
      <%= link_to image_tag("logo.png", alt: "Logo", id: "logo-image"), index_path %>
      <div class="nav-wrapper yellow darken-4 white-text" id="login-buttons">
      <% if user_signed_in? %>
          Logged in as&nbsp;&nbsp;<strong><%= current_user.email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>                                 
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </nav>
  </div>
  </header>

  <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
