

<div class="row">

			<div class="col s5">

			<div class="container">
			<%= form_for (@movie) do |f| %>
				
				<%= f.label :name , "Nome do filme"%>
				<%= f.text_field :name %>

				<%= f.label :description, "Descrição" %>
				<%= f.text_field :description %>

				<%= f.label :year, "Ano" %>
				<%= f.text_field :year %>

				<%= f.label :director, "Diretor" %>
				<%= f.text_field :director %>

				<%= f.label :category, "Categoria" %>
				<%= f.text_field :category%>

				<a class="waves-effect waves-light btn"><%= f.submit "Editar" 	%></br>
				</a>

				</div>
			</div>


			<div class="col s5">
					<%= form_for @movie, url: movies_path, html: { multipart: true } do |form| %>
					<%= form.file_field :image %>
					<% end %>
			</div>

							
			<% end %>
			</div>
