
<head>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="fixed-action-btn click-to-toggle" style="top: 55px;right:20;">
    <a class="waves-effect waves-light btn-large yellow darken-4">
      <i class="large material-icons">Explorar</i>
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><%= link_to "Ação", category_path(category: "Ação"), class: "waves-effect waves-light btn teal darken-4" %></li>
      <li><%= link_to "Animação", category_path(category: "Animação"), class: "waves-effect waves-light btn green" %></li>
      <li><%= link_to "Comédia", category_path(category: "Comédia"), class: "waves-effect waves-light btn yellow darken-1" %></li>
      <li><%= link_to "Drama", category_path(category: "Drama"), class: "waves-effect waves-light btn deep-blue lighten-4" %></li>
      <li><%= link_to "Documentário", category_path(category: "Documentário"), class: "waves-effect waves-light btn teal darken-2" %></li>
      <li><%= link_to "Ficção Científica", category_path(category: "Ficção Científica"), class: "waves-effect waves-light btn grey darken-2" %></li>
      <li><%= link_to "Romance", category_path(category: "Romance"), class: "waves-effect waves-light btn red" %></li>
    </ul>
    </div>
    <div class="container" style="width:40%">
       <%= form_tag(movies_path, :method => :get) do %>

        <%= text_field_tag 'search', nil, placeholdder: 'Enter search ter...'%>
          
          <%= submit_tag "Search" %>
            
        <% end %>
    </div>
</head>
<body>
	<center>
<div class="container">
<% @movies.each do |mov| %>
<div class="row">
<div class="col m5 s5 l5">
			  <div class="card s-deepth-3" style="top:10px; width:130%" >

			      <%= link_to image_tag(mov.image.url, height: '200', width: '200'),mov%>
			    
			   
			    <div class="card-content white-text">
			      <span class="card-title activator grey-text text-darken-4">

			      	<%= mov.name%>
			      	
			      	<i class="material-icons right blue-text">more_vert</i></span>
			   
			    </div>
			    
			    <div class="card-reveal blue-grey darken-1">
			      
			      <span class="card-title white-text "><h5><i class="material-icons center white-text right">close</i></h5></span>

			      <div class="row ">	

					<div class="col s5 white-text">
						  
						  <div class="divider"></div>
							<div class="section">
							<p>	Título: <%= mov.name%>
							</p>
							</div>


						  <div class="divider"></div>

							<div class="section">
							<p>
								Categoria: <%= mov.category%>
							</p>
							</div>

							<div class="divider">Ano</div>

							<div class="section">
							<p>
								Ano: <%= mov.year%>
							</p>
							</div>

							<div class="divider"></div>

							<div class="section">
							<p>
								Diretor: <%= mov.director%>
							</p>
							</div>
						</div>

						<div class="col s5 white-text">
							<div class="divider"></div>
							<div class="section">
							<p>
								Sinopse</br>
								</br>
								<%= mov.description%>
							</p>
							
						</div>


						</div>
			    </div>
			  </div>


	</div>
</div>
</div>
<% end %>
</div>

</center>

</body>