<div class="row">
	<div class="col s5">
					<div class="container"	>
					<%= form_for (@movie) do |f| %>
						
						<%= f.label :name , "Nome do filme"%>
						<%= f.text_field :name %>

						<%= f.label :description, "Descrição" %>
						<%= f.text_field :description %>

						<%= f.label :year, "Ano" %>
						<%= f.text_field :year %>

						<%= f.label :director, "Diretor" %>
						<%= f.text_field :director %>

						<%= f.label :category, "Categoria" %>
						<%= f.text_field :category%>


						<a class="waves-effect waves-light btn">
							<%= f.submit "Criar Filme" 	%></a>
					<% end %>
					</div>
	</div>
