<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <div class="fixed-action-btn click-to-toggle" style="top: 55px;right:20;">
    <a class="waves-effect waves-light btn-large yellow darken-4">
      <i class="large material-icons">Explorar</i>
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><%= link_to "Ação", category_path(category: "Ação"), class: "waves-effect waves-light btn teal darken-4" %></li>
      <li><%= link_to "Animação", category_path(category: "Animação"), class: "waves-effect waves-light btn green" %></li>
      <li><%= link_to "Comédia", category_path(category: "Comédia"), class: "waves-effect waves-light btn yellow darken-1" %></li>
      <li><%= link_to "Drama", category_path(category: "Drama"), class: "waves-effect waves-light btn deep-blue lighten-4" %></li>
      <li><%= link_to "Documentário", category_path(category: "Documentário"), class: "waves-effect waves-light btn teal darken-2" %></li>
      <li><%= link_to "Ficção Científica", category_path(category: "Ficção Científica"), class: "waves-effect waves-light btn grey darken-2" %></li>
      <li><%= link_to "Romance", category_path(category: "Romance"), class: "waves-effect waves-light btn red" %></li>
    </ul>
    </div>

</head>
<center>

	<div class="parallax-container">
    <%=image_tag(@movie.image.url(:large))%>



    <div class="parallax"></div>
  </center>  

  	</div>
  	<div class="section white">
<center>


     <%if user_signed_in?%>
     botoes de avaliação

     <% end %>

</center>

   		<div class="row container">

      	<h2 class="header"><%= @movie.name%></br></h2>
      	  <div class="divider"></div>
      	  <div class="col s5">
  			<div class="section">
    		<h5>Categoria</h5>
    		<p><%= @movie.category%></br></p>
  			</div>

  			<div class="section">
    		<h5>Ano</h5>
    		<p><%= @movie.year%></br></p>
  			</div>

  			<div class="section">
    		<h5>Diretor</h5>
    		<p><%= @movie.director%></br></p>
  			</div>
      	
    	  </div>
    	  <div class="col s5">
    	  	<h5>Sinopse</h5>
    		<p><%= @movie.description%></br></p>
    	  </div>

		</div>
		<center>

    <%if user_signed_in?%>
      <%if current_user.role_admin?%>
     
                		 <div class="waves-effect waves-light btn z-depth-5 blue-grey lighten-4" style="font-color:#ffffff;">
                		 	<%= link_to 'Editar', edit_movie_path %>
                		 </div>

                		&nbsp;&nbsp;&nbsp;
                		 <a class="waves-effect waves-light btn z-depth-5">
                		 	<%= button_to "Excluir filme", movie_path, method: :delete %>
                		 </a>
        <% end %>        
		<% end%>    
		</center>
     
	</div>
  