<head>
  <div class="fixed-action-btn click-to-toggle" style="top: 55px;right:20;">
    <a class="waves-effect waves-light btn-large yellow darken-4">
      <i class="large material-icons">Explorar</i>
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><%= link_to "Ação", category_path(category: "Ação"), class: "waves-effect waves-light btn teal darken-4" %></li>
      <li><%= link_to "Animação", category_path(category: "Animação"), class: "waves-effect waves-light btn green" %></li>
      <li><%= link_to "Comédia", category_path(category: "Comédia"), class: "waves-effect waves-light btn yellow darken-1" %></li>
      <li><%= link_to "Drama", category_path(category: "Drama"), class: "waves-effect waves-light btn deep-blue lighten-4" %></li>
      <li><%= link_to "Documentário", category_path(category: "Documentário"), class: "waves-effect waves-light btn teal darken-2" %></li>
      <li><%= link_to "Ficção Científica", category_path(category: "Ficção Científica"), class: "waves-effect waves-light btn grey darken-2" %></li>
      <li><%= link_to "Romance", category_path(category: "Romance"), class: "waves-effect waves-light btn red" %></li>
    </ul>
    </div>
  </head>
  <body>



  <head>
    <center>
        <div class="container" style="width=40%;">
         <%= form_tag(movies_path, :method => :get) do %>

          <%= text_field_tag 'search', '', placeholdder: 'Enter search ter...'%>
            
            <%= submit_tag "search" %>
            
          <% end %>
        </div>
    </center>
  </head>
  </body>